APP_ENV=local
APP_DEBUG=true
APP_KEY=NLaPzlSd4wMuJQO3p3vQDtLfX8CNfG0S
APP_URL=http://localhost
APP_TIMEZONE=Asia/Chongqing

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_DATABASE=radius
DB_USERNAME=root
DB_PASSWORD=123456
DB_STRICT=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0

CACHE_DRIVER=file
CACHE_PREFIX=pradius
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=ssid
SESSION_DOMAIN=null
SESSION_PATH=/
SESSION_SECURE=false
SESSION_ENCRYPT=false

QUEUE_DRIVER=null

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null


Max_Daily_Traffic=Max-Daily-Traffic
Max_Monthly_Traffic=Max-Monthly-Traffic
Simultaneous_Use=Simultaneous-Use
Acct_Interim_Interval=Acct-Interim-Interval
Session_Timeout=Session-Timeout
Idle_Timeout=Idle-Timeout